h1{
    font-size: 36px;
    color: #007FA3;
    text-align: center;
}
.flex-container{
    background-color: #D8D8D8;
    display: flex;
    flex-wrap: wrap;

}
.flex-container > div{
    background-color: white;
    margin:100px 50px 60px 50px;
    width: 212px;
    height: 100px;
   padding: 20px 37px 30px 40px;
    vertical-align: top;
}
.title{
    font-size: 18px;
    color: #E93939;
    text-align: center;
    margin-top: 50px;

}
.wrapper{
    position: relative;
    align-items: center;
}
.avatar{
    height: 80px;
    width: 80px;
  background-color: #bbb;
  border-radius: 50%;
  position: absolute;
  top:-40px;
  left: 106px;
  display: flex;
  box-pack: center;
  box-align: center;
}
.delete{
    font-size: 14px;
    color: #007FA3;
  margin: 0 auto;
  cursor: pointer;
}
